#name{
    width: fit-content;
    padding: 2px;
    border-radius: 4px;
    font-size: 24px;
    color: antiquewhite;
    margin: auto;
}

#container{
    background-color: black;
    border: 16px solid maroon;
    border-radius: 24px;
    width: 600px;
    margin: auto;
    height:100vh;
    overflow-y: scroll;
}